@import 'init/index';
@import 'site/index';
@import 'typography/index';

[alt=icon] {
    height: 2.875rem;
}

/* UTILITY STYLES */
.block {
    display: block;
}

.flex-row-between {
    display: flex;
    justify-content: space-between;
}

.circle {
    border-radius: 50%;
}

.underscore {
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        bottom: 3rem;
        left: 0;  
        height: 1rem;
        width: 5rem;
    }
}

/* GENERAL STYLES */
