@import 'init/index';
@import 'site/index';
@import 'typography/index';

[alt~=icon] {
    height: 2.875rem;
}

body { background-color: rgb(231, 231, 231);}

/* UTILITY STYLES */
.block {
    display: block;
}

.flex-row-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-4column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
}

.circle {
    border-radius: 50%;
}

.underscore-center {
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        bottom: -0.625rem;
        left: 50%;
        height: 0.125rem;
        width: 5rem;
        transform: translate(-50%, 0);
        background-color: tomato;
    }
}

/* GENERAL STYLES */
.wrapper {
    position: relative;
    width: 97%;
    max-width: 75rem;
    margin: 0 auto;
}