header {
  position: relative;
  text-align: right;
  min-height: 12.5rem;
  padding-top: 5rem;
  margin-bottom: 5.0625rem;
}

.accent-square {
  position: absolute;
  top: -1.5rem;
  left: -2rem;
  background-color: $pink;
  width: 50%;
  height: 13rem;

  @media only screen and (min-width: 37.5rem) {
    height: 13.5rem;
    width: 55%;
  }

  @media only screen and (min-width: 62rem) {
    height: 15rem;
  }
}