body {
  padding: 1.25rem 1.5rem;
}

section,
.projects {
  margin: 0 auto 8.4375rem;

  @media only screen and (min-width: 53.0625rem) {
    margin-bottom: 5.0625rem;
    max-width: 98%;
  }

  @media only screen and (min-width: 100rem) {
    max-width: 93.4088rem;
  }
}

p,
h1,
.intro h2,
.social-btns {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-bottom: 1.6875rem;
}

.social {
  width: 3rem;
  height: 3rem;
}

.git-icon {
  padding: 2px;
}

.slack-icon {
  width: 4rem;
  height: 4rem;
  margin: -.4rem;

  .slack-st0 {
    fill: #e01e5a;
  }
  .slack-st1 {
    fill: #36c5f0;
  }
  .slack-st2 {
    fill: #2eb67d;
  }
  .slack-st3 {
    fill: #ecb22e;
  }
}

.social-btns {
  display: flex;
  justify-content: space-around;
}