.project-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 5.0625rem;
  min-width: 16.125rem;
  max-width: 29.1363rem;

  @media only screen and (min-width: 53.0625rem) {
    flex: 1 1 45%;
    padding-top: 0;
    
    &:nth-child(2n-1) {
      box-shadow: 1px 1px 3px rgba($blue, .5);
    }

    &:nth-child(2n) {
      box-shadow: -1px 1px 3px rgba($blue, .5);
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 67.5rem) {
    flex: 1 1 30%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  picture {
    opacity: .7;
  }

  h3 {
    display: inline-block;
    padding: .5rem .8rem .4rem 2rem;
    background-color: $pink;

    @media only screen and (min-width: 28.8125rem) {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -.95rem;
        height: 0;
        width: 0;
        border-width: .5rem .73rem;
        border-style: solid;
        border-color: $dk-pink $dk-pink transparent transparent;
        z-index: -1;
      }
    }
  }
}

.project-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 -2rem -1.5rem;
  z-index: 10;
}

.project-type {
  @include cover-box();

  position: relative;
  align-self: flex-end;
  margin-right: 1.4rem;
  padding-right: .65rem;
  border-right: 0;
}

.btn-row {
  display: flex;
  justify-content: space-between;

  .btn {
    width: 48%;

    &:first-of-type {
      margin-right: 2%;
    }
  }
}

.repo-link,
.demo-link {
  @extend .btn;
  margin-bottom: 1.5rem;

  @media only screen and (min-width: 53.0625rem) {
    margin-bottom: 0;
  }
}
.repo-link {
  background-color: #24292e;

  &:hover {
    background-color: darken($dk-grey, 100%);
  }
}

.demo-link {
  background-color: #0a7077;

  &:hover {
    background-color: darken($lt-blue, 30%);
  }
}

.projects {
  box-shadow: 0 0 3px $blue;
  max-width: 25.65rem;

  @media only screen and (min-width: 53.0625rem) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  & > * {
    margin-left: .5rem;
    margin-right: .5rem;

    @media only screen and (min-width: 53.0625rem) {
      margin-left: 0;
      margin-right: 0;
      padding: .5rem;

      &:nth-child(2n-1) {
        margin-right: 3rem;
      }
    }

    @media only screen and (min-width: 67.5rem) {
      &:nth-child(n+3) {
        margin-right: 3rem;
      }

      &:nth-child(5),
      &:nth-child(8),
      &:nth-child(10) {
        margin-right: 0;
      }
    }
  }

  h2 {
    @include cover-box();

    display: inline-block;
    margin-top: -1rem;
    margin-bottom: .5rem;

    @media only screen and (min-width: 28.8125rem) {
      margin: -1.5rem 0 1rem .5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  & > .repo-link {
    margin-bottom: 3.375rem;

    @media only screen and (min-width: 53.0625rem) {
      flex: 1 0 12.5rem;
      padding: .8165rem;
      margin: 0 100% 3.375rem .5rem;
    }
  }
}