h1 {
  @include text-style($font-inria, $h1, $pink);
}

h2 {
  @include text-style($font-inria, $h2, $pink);
}

h3 {
  font-weight: 700;
  @include text-style($font-sans, $h3, $white);
}

@media only screen and (min-width: 37.5rem) {
  h1 {
    @include text-style($font-inria, $h1-md, $pink);
  }

  h2 {
    @include text-style($font-inria, $h2-md, $pink);
  }

  h3 {
    font-weight: 700;
    @include text-style($font-sans, $h3-md, $white);
  }
}

@media only screen and (min-width: 62rem) {
  h1 {
    @include text-style($font-inria, $h1-lg, $pink);
  }

  h2 {
    @include text-style($font-inria, $h2-lg, $pink);
  }

  h3 {
    font-weight: 700;
    @include text-style($font-sans, $h3-lg, $white);
  }
}
