.empty-bar {
    width: 90%;
    height: 0.875rem;
    border-radius: 5px;
    background: lightgrey;
}

.fill-bar {
    height: 100%;
    border-radius: 5px;
}

.ux-bar {
    width: 95%;
    background: red;
}