.underscore {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    
    &::after {
        content: '';
        position: absolute;
        bottom: -0.9rem;
        left: 0;
        height: 0.125rem;
        width: 100%;
        background-color: tomato;
    }

    .title-note {
        position: absolute;
        display: inline-block;
        padding: 0 0.125rem 0 0.5rem;
        text-transform: uppercase;
        right: 0;
        bottom: -1.55rem;
        line-height: 1.5rem;
        background-color: #fff;
        z-index: 10;
    }
}

.site-header,
.skills,
.find-me,
.work-xp,
.education,
.contact {
    background: #fff;
    border-radius: 0.25rem;
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;
}

.skills { padding-bottom: 2.65rem; }    /* For the sake of vertical rhythm */

.social-desc { margin-bottom: 1.5rem; }

.social-icon {
    width: 3rem;
    max-height: 3rem;
}

.skill-list li,
.xp-list li,
.edu-list li,
.social-desc {
    padding: 1.3rem 0.5rem 1.35rem 1rem;
}
.skill-list li:last-of-type,
.xp-list li:last-of-type,
.edu-list li:last-of-type {
    padding-bottom: 0;
}

.xp-list p:first-of-type {
    margin-bottom: 1.5rem;
}

.timeline-dot {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: -1.25rem;
        top: 0.7rem;
        width: 0.625rem;
        height: 0.625rem;
        background: tomato;
        border-radius: 50%;
    }
}