@import '../vars/index';

.site-header {
    position: relative;
    top: -4.4rem;
    text-align: center;
    background: #fff;
    padding-top: 3rem;
    margin-bottom: -3rem;
}

.headshot { padding-bottom: 1rem; }

h1 { margin-top: 3rem; }

.job-titles { margin-bottom: 1.5rem; }

.build-note { font-size: $small; }

.pipeline {
    width: 10rem;
    margin: 0 auto 1.5rem;
}

.brand-icon {
    height: 1.5rem;
}

.link-button {
    flex: 50%;
    line-height: 4.5rem;
}
