@import '../vars/index';

.site-nav {
    position: fixed;
    width: 100%;
    font-size: $small;
    z-index: 100;

    .wrapper { 
      background-color: #fff; 
      padding: 0.75rem;
      border-radius: 0 0 0.25rem 0.25rem;
    }

    p {
        margin-bottom: 0;
    }
}

.toggle-menu-icon {
    width: 2rem;
    margin: 0;
    align-self: center;
    cursor: pointer;
}

/* Mobile Menu */
.mobile-sub-menu {
  position: fixed;
  top: 3.5rem;
  padding-top: 1rem;
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: #fff;
  z-index: 101;
}

.mobile-sub-menu li {
  flex: 33%;
  text-align: center;
}
.mobile-sub-menu li a {
  display: block;
  padding: 0.75rem 1.5rem;
  margin-bottom: 0.5rem;
  transition-duration: 0.3s;

  .icon {
    margin: 0 auto;
  }
}

.mobile-sub-menu {
  width: inherit;
  top: -25rem;
}

.mobile-sub-menu a:hover,
.mobile-sub-menu a:active {
  color: lightgreen;
  fill: lightgreen;
}