.margin-btm {
    margin-bottom: 3.9rem;
}

.empty-bar {
    width: 97%;
    height: 0.375rem;
    background: lightgrey;
}

.fill-bar {
    height: 100%;
    background-color: tomato;
}

.fill-50 { width: 50%; }
.fill-70 { width: 70%; }
.fill-90 { width: 90%; }
.fill-95 { width: 95%; }