/* inria-serif-regular - latin */
@font-face {
  font-family: "Inria Serif";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local("Inria Serif Regular"), local("InriaSerif-Regular"),
    url("../fonts/inria/inria-serif-v1-latin-regular.woff2") format("woff2"),
    url("../fonts/inria/inria-serif-v1-latin-regular.woff") format("woff");
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/open-sans/open-sans-v17-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans/open-sans-v17-latin-regular.woff") format("woff");
}

/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/open-sans/open-sans-v17-latin-700.woff2") format("woff2"), 
    url("../fonts/open-sans/open-sans-v17-latin-700.woff") format("woff"); 
}

$font-inria: "Inria Serif", serif;
$font-sans: "Open Sans", sans-serif;
