// BASE 18, MINOR 3RD SCALE -- ROOT 16
// RHTYHM: 18, 27, 54, 81px ... rem = 1.125, 1.6875, 3.375, 5.0625

// SM
$h1: 2.7994rem; // 44.79px
$h2: 1.62rem; // 25.92px
$h3: 1.35rem; // 21.60px
$sm-note: .9375rem; // 15px
$smaller: .8em;

// MED
$h1-md: 3.3594rem; // 53.75px
$h2-md: 1.9438rem; // 31.10px
$h3-md: 1.62rem; // 25.92px

// LG
$h1-lg: 4.0313rem; // 64.5px
$h2-lg: 2.3325rem; // 37.32px
$h3-lg: 1.9438rem; // 31.10px