@import '../vars/index';

html {
  background-color: rgb(231, 231, 231);
  font-size: 16px;
}

body {
  font-family: $body-font;
  font-weight: 400;
  line-height: 1.5;
  color: $dark-grey;
  margin-bottom: 3rem;
}

h1, h2, h3 {
  font-family: $heading;
}

h4, h5 {
  font-family: $small-heading;
  font-weight: 700;
}

h2, h3 {
  text-transform: uppercase;
}

h1, h2, h3 {
  font-weight: 700;
}

h2, h3 {
  margin-bottom: 1.5rem;
}

h1 { 
  font-size: $h1; 
  line-height: 4.5rem;
}
h2 { 
  font-size: $h2; 
  line-height: 3rem;
  margin-bottom: 2.8rem;
}
h3 { 
  font-size: $h3; 
  line-height: 3rem;
}
h4 { 
  font-size: $h4; 
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: $small;
  color: $link-color;
}

.title-note {
  font-size: 16px;
}

footer {
  font-size: $small;
}